<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.changan.dynamicdatasource.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.changan.dynamicdatasource.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="VARCHAR" property="age" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, age, weight
  </sql>
  <select id="getAllUserInfo" resultType="com.changan.dynamicdatasource.entity.User">
    select
    <include refid="Base_Column_List" />
    from user
  </select>

</mapper>